.line{
  stroke: rgb(128, 255, 141);
  stroke-width: 12;
  stroke-linecap: round;
  opacity: 0;
  &:hover{
    stroke: rgb(0, 255, 8);
    opacity: 1;
    cursor: all-scroll;
    
  }
}

.hitbox-line{
  stroke: transparent;
  stroke-width: 60;
  stroke-linecap: round;
}

.active{
    opacity: 1;

    path{
      stroke: rgb(0, 255, 8);
      opacity: 1;
    }
}

.add{
  opacity: 0;
}

.group{
  &:hover{
    path{
      opacity: 1;
      cursor:pointer;
    }
  }
}