.line{
  stroke: rgb(128, 255, 141);
  stroke-width: 12;
  stroke-linecap: round;
  opacity: 0;
  transition: all 0.2s;
  &:hover{
    stroke: rgb(0, 255, 8);
    opacity: 1;
    cursor: all-scroll;
  }
}

.hitbox-line{
  stroke: transparent;
  stroke-width: 60;
}

.active{
    opacity: 1;

    path{
      stroke: rgb(0, 255, 8);
      opacity: 1;
    }
}

